name: CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Write Cloudflare tunnel credentials
        run: |
          mkdir -p ./cloudflare_config
          echo "${{ secrets.CF_TUNNEL_SECRET }}" > ./cloudflare_config/${{secrets.CF_TUNNEL_UUID}}.json
          echo "${{ secrets.CF_TUNNEL_CONFIG }}" > ./cloudflare_config/config.yml

      - name: Write env file
        run: |
          cat <<EOF > .env.local
          SPOTIFY_CLIENT_ID=${{ secrets.AUTH_SPOTIFY_ID }}
          SPOTIFY_CLIENT_SECRET=${{ secrets.AUTH_SPOTIFY_SECRET }}
          NEXTAUTH_SECRET=${{ secrets.NEXTAUTH_SECRET }}
          AUTH_TRUST_HOST=true
          NEXTAUTH_URL=${{secrets.AUTH_URL}}
          EOF

      - name: Build Docker images
        run: docker compose build

      - name: Start containers
        run: docker compose up -d

      - name: Wait for Postgres
        run: |
          until docker exec song-vault-db pg_isready -U postgres; do
            echo "Waiting for postgres..."
            sleep 2
          done

      - name: Show logs on failure
        if: failure()
        run: docker compose logs

      - name: Shutdown
        if: always()
        run: docker compose down -v
